* {
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-top: -8px;
  text-align: center;
  height: 110px;
  background-color: #404041;
}

h1{
  font-size: 76px;
  display: inline-block;
  margin: 1px 0 0 0;
}

.h1-bold {
  font-weight: bold;
  color: #ED458B;
}

.h1-light {
  font-weight: lighter;
  color: #E6E7E8;
}

body {
  height: 750px;
}

main {
  width: 560px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
}

input {
  float: left;
  width: 350px;
  height: 85px;
  box-sizing: border-box;
  font-size: 36px;
  font-weight: lighter;
  padding-bottom: 10px;
  padding-left: 10px;
  border: #D0D2D3 solid 1px;
}

input::placeholder {
  color: #D0D2D3;
}

input.small-input {
  width: 100px;
  height: 25px;
  margin-left: 10px;
  font-size: 12px;
  padding-top: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
}

span {
  width: 130px;
  height: 85px;
}

h6 {
  color: #EB008B;
  margin-bottom: 5px;
  font-size: 16px;

}

.range-indicator {
  display: inline-block;
  width: 70px;
  font-size: 12px;
  margin-top: 0px;
  font-weight: bold;
  color: #404041;
}

button {
  color: #FFF;
  background-color: #929497;
  font-weight: lighter;
  border: none;
}

button:hover {
  background-color: #EB008B;
}

button:disabled {
  background-color: #D0D2D3;
}

#submit-button {
  border-radius: 25px;
  margin-top: 30px;
  width: 250px;
  height: 40px;
  float: left;
  font-size: 28px;
}

#clear-button {
  border-radius: 25px;
  margin-top: 30px;
  width: 250px;
  height: 40px;
  float: right;
  font-size: 28px;
}

p {
  width: 560px;
  display: inline-block;
  color: #404041;
  font-size: 36px;
  font-weight: lighter;
}

#last-guess {
  margin-top: 30px;
  margin-bottom: 30px;
}

#indicator{
  margin-top: 30px;
}

h2 {
  color: #EB008B;
  font-size: 200px;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 150px;
}

#reset-button {
  border-radius: 25px;
  margin-top: 0px;
  width: 560px;
  height: 40px;
  font-size: 28px;
  padding-top: 0px;
}
